%form{:method => "post", :action => "person/create/"}
  %div
    %span
      Email Address
    %span
      %input{:name => "email", :type => "text"}

  %div.actions
    %input{:type => "submit", :value => "Create Account"}